

<div class="container">
    <h1>login</h1>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
          <label for="user_email">user_email</label>
          <input type="text" formControlName="user_email">
        </div>
        <div>
          <label for="user_pwd">Password</label>
          <input type="text"  formControlName="user_pwd" >
        </div>
  <br>
  
        <div>
          <button class="button" type="submit">login</button>
        </div>
    </form>
  
</div>
