<html>

<head>
  <title>Reactive form example
  </title>
</head>

<body>

  <router-outlet></router-outlet>
<div *ngIf="isLoggedIn">
  <h1>dashboard</h1>

  <div>
    <h4> Reactive form example</h4>
<br>
    <form [formGroup]="employeeForm" (ngSubmit)="submitForm()">
      <div>
        <label for="user_name">Username</label>
        <input type="text" class="form-control" formControlName="user_name" [(ngModel)]="user_name" >
      </div>
<br>
      <div>
        <label for="user_email">Email</label>
        <input type="text" class="form-control" formControlName="user_email" [(ngModel)]="user_email">
      </div>
  <br>
      <div>
        <label for="Email">Contact No</label>
        <input type="text" class="form-control" formControlName="user_contact_no" [(ngModel)]="user_contact_no">
      </div>

<br>
      <div>
        <label for="phone">Password</label>
        <input type="text" class="form-control" formControlName="user_password" [(ngModel)]="user_password">
      </div>
<br>

      <br>
      <div>
        <span>Gender</span>
        <br>
        <div>
          <input type="radio" class="form-control" value="male" (click)="setmale()" name="gender" >
            <label for="male">Male</label>
        </div>
        <div>
            <input type="radio" class="form-control" name="gender" (click)="setfemale()"  value="female">
            <label for="female">Female</label>
        </div>
        <br>
      </div>



      <br>
      <div class="action" *ngIf="editemployee">
        <button class="button" type="submit">Update</button>
      </div>


      <div class="action" *ngIf="noteditemployee">
        <button class="button" type="submit">Register</button>
      </div>
    </form>
    <br>
    <button class="button" (click)="cancel()">cancel</button>


    <br>
    <br>
    <table class="list" id="list">
      <thead>

        <tr class="head">
          <th>Username</th>
          <th>Email</th>
          <th>Contact No</th>
          <th>Gender</th>
          <th>action</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let  employee of employeeData.data">

          <td>{{employee.user_name}}</td>
          <td>{{employee.user_email}}</td>
          <td>{{employee.user_phone_no}}</td>
          <td>{{employee.user_gender}}</td>
          <td><button (click)="edit(employee)">Edit</button>
          <button (click)="delete(employee)">Delete</button></td>
        </tr>

      </tbody>
    </table>


  </div>
</div>

</body>


</html>